.content {
    width: 680px;
    margin: 24px auto;
    background-color: #fff;
    padding: 30px;
    overflow: hidden;
    h2 {
        font-size: 20px;
        margin-bottom: 30px;
        a {
            color: #2895F1;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .content-time {
        color: #C1C4D1;
        font-size: 16px;
        display: block;
        float: left;
    }
    .delete-btn {
        font-size: 16px;
        float: right;
        color: #FCE35C;
        background-color: #fff;
        border: none;
        display: none;
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        .delete-btn {
            display: block;
        }
    }
}

@media (max-width: 700px) {
    .content {
        width: 100%;
    }
}