$height: 57px;

header {
   background-color: #46476F;

   .header-wrapper {
       height: $height;
       width: 680px;
       margin: 0 auto;
       position: relative;
   }

   .site-logo {
       margin-left: 36px;
       font-size: 36px;
       color: #fff;
       line-height: $height;
       vertical-align: bottom;
   }

   .user-avatar {
       border-radius: 50%;
       position: absolute;
       height: 46px;
       width: 46px;
       top: 50%;
       margin-top: -23px;
       right: 36px;
   }
}

